
@{
    ViewData["Title"] = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin</h1>
<div class="container">

    <div class="row">
        <div class="col-md-3 offset-md-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Cities</h5>
                    <p class="card-text">Add Edit and Delete Cities</p>
                    <a href="/Admin/Cities" class="btn btn-primary">Cities</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 offset-md-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Areas</h5>
                    <p class="card-text">Add Edit and Delete Areas</p>
                    <a href="/Admin/Areas" class="btn btn-primary">Areas</a>
                </div>
            </div>
        </div>
    </div>

    <br />

    <div class="row">

        <div class="col-md-3 offset-md-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Labs</h5>
                    <p class="card-text">Add Edit and Delete Labs</p>
                    <a href="/Admin/Labs" class="btn btn-primary">Labs</a>
                </div>
            </div>
        </div>

        <div class="col-md-3 offset-md-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Branchs</h5>
                    <p class="card-text">Add Edit and Delete Branchs</p>
                    <a href="/Admin/Branchs" class="btn btn-primary">Branchs</a>
                </div>
            </div>
        </div>
    </div>


    <br />

    <div class="row">
        <div class="col-md-3 offset-md-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Tests</h5>
                    <p class="card-text">Add Edit and Delete Tests</p>
                    <a href="/Admin/Tests" class="btn btn-primary">Tests</a>
                </div>
            </div>
        </div>
        <div class="col-md-3 offset-md-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Reservations</h5>
                    <p class="card-text">Click here to see all reservations</p>
                    <a href="/Admin/Reservations" class="btn btn-primary">Reservations</a>
                </div>
            </div>
        </div>
    </div>

</div>

