@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="row">

        <div class="row">
            <div class="col-md-3 offset-md-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Reserve Test</h5>
                        <p class="card-text">Click Here To Reserve your Test</p>
                        <a href="/Home/Reserve" class="btn btn-primary">Reserve</a>
                    </div>
                </div>
            </div>         
        </div>


    </div>
</div>
